@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #201B1D;
}

::-webkit-scrollbar-thumb {
    background: #EA943B;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #EA943B;
}
